nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 1%;
  opacity: 74%;
  background-color: rgb(64 100 166);
}

.App-logo {
  max-width: 1.5em;
}

.icon {
  display: flex;
  gap: 1.5em;
}
